body{
    background: #F3F5FC;
}

#logo{
    display: block;
    padding: 24px;
}

#snackbar{
    visibility: hidden;
    min-width: 250px; 
    background-color: #138D75;
    color: #fff;
    text-align: center;
    border-radius: 0.3rem;
    padding: 20px; 
    position: fixed; 
    z-index: 1; 
    right: 2rem; 
    top: 30px; 
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

main{
    display: flex;
    flex-direction: row;
}

.text textarea{
    text-transform: lowercase;
    border: none;
    resize: none;
    margin: auto;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: #f7fbfb;
}
.text label{
    color: #0A3871;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text #error{
    display: none;
    text-align: end;
    margin-right: 1rem;
}

.icon-error{
    display: inline-block;
    background: url('../img/advertencia.png') no-repeat top left;
    width: 16px;
    height: 16px;
    margin: 0px 0.5rem;
}

.row{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.response-content{
    width: 20%;
    border-radius: 5%;
    background-color: #fff;
}
.response{
    padding: 1rem;
}
.response textarea{
    width: 100%;
    text-transform: lowercase;
    border: none;
    resize: none;
}
#contentNotFound{
    display: none;
}
#contentNotFound img{
    max-width: 100%;
}
#contentNotFound p{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}
.text-content{
    width: 80%;
    display: inline-block;
    text-align: center;
}
.buttons{
    display: block;
    margin: auto;
    padding: 1rem;
    gap: 24px;
}

#copy{
    display: none;
}

footer label{
    padding: 0 1rem;
}
footer .icon-info{
    display: inline-block;
    background: url('../img/info.png') no-repeat top left;
    width: 16px;
    height: 16px;
    margin: 0px 0.5rem;
}

#copy, #encriptar, #desencriptar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: none;
}

#copy{
    max-width: 100%;
    padding: 0;
    height: 46px;
    background: #138D75;
    color: #FFFFFF;
    border: none;
}

#encriptar{
    background: #0A3871;
    color: #FFFFFF;
}
#encriptar:hover, #desencriptar:hover, #copy:hover{
    cursor: pointer;
    opacity: 0.5;
}
#desencriptar{
    color: #0A3871;
    background: #D8DFE8;
}

button:disabled,
button[disabled]{
    cursor: not-allowed !important;
}