body{
    background: #F3F5FC;
}

#logo{
    display: block;
    padding: 24px;
}

main{
    display: flex;
    flex-direction: row;
}

#texto{
    margin: auto;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
.row{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.response-content{
    width: 20%;
    border-radius: 5%;
    background-color: #fff;
}
.response{
    padding: 1rem;
}
.response textarea{
    width: 100%;
    text-transform: lowercase;
    border: none;
}
#contentNotFound{
    display: none;
}
#contentNotFound img{
    max-width: 100%;
}
#contentNotFound p{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}
.text-content{
    width: 80%;
    display: inline-block;
    text-align: center;
}
.buttons{
    display: block;
    margin: auto;
    padding: 1rem;
    gap: 24px;
}

#copy{
    display: none;
}

footer label{
    padding: 0 1rem;
}

#copy, #encriptar, #desencriptar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#copy{
    max-width: 100%;
    padding: 0;
    height: 46px;
    background: #138D75;
    color: #FFFFFF;
    border: none;
}

#encriptar{
    background: #0A3871;
    color: #FFFFFF;
}
#encriptar:hover, #desencriptar:hover, #copy:hover{
    cursor: pointer;
}
#desencriptar{
    color: #0A3871;
    background: #D8DFE8;
}